:root {
	--color-base: #fff;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: 'Roboto', 'Noto Sans TC', "Open Sans", sans-serif;
	font-size: 16px;
	color: #808080;
}

a {
	color: var(--color-base);
	text-decoration: none;
}

a:hover {
	color: var(--color-base);
	text-decoration: none;
}

h1 {
	font-weight: bold;
	margin: 0;
}

/*--------------------------------------------------------------
# Bootstrap Adjust
--------------------------------------------------------------*/
.container {
	padding: 0;
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1680px;
	}
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 40px 0;
	min-height: 60px;
}

#header.header-scrolled,
#header.header-inner-pages {
	background: rgba(0, 208, 158, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 50px;
	font-size: 2em;
	font-weight: 100;
	color: var(--color-base);
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
	color: #005ca1;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: var(--color-base);
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	color: #4d4d4d;
	font-weight: 400;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
	background-color: #005ca1;
}

.navbar .dropdown:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}

	.navbar .dropdown .dropdown:hover>ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: var(--color-base);
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: var(--color-base);
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #4d4d4d;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
	color: #4d4d4d;
	background-color: #00d09e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: var(--color-base);
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
	color: #4d4d4d;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
	background-color: #00d09e;
}

.navbar-mobile .dropdown>.dropdown-active {
	display: block;
}
/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
section#home {
	padding: 60px 0 0;
}

#home:before {
	content: "";
	background: linear-gradient(300deg, #005ca1, #00d09e 60%);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	max-height: 1024px;
}
#home .container {
	position: relative;
	padding-top: 180px;
	text-align: center;
}

.s1_left {
	max-width: 620px;
}

.s1_btn {
	height: 15vh;
}

#home h3 {
	margin: 40px 0;
	font-size: 2.4em;
	font-weight: 100;
	color: var(--color-base);
}

.s1_right .img {
	position: relative;
}

.s1_hello {
	position: absolute;
	top: 1.5%;
	left: 6.5%;
}

@media (max-width: 768px) {
	#home {
		height: auto;
	}

	#home h3 {
		font-size: 1.8em;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	overflow: hidden;
	position: relative;
}

.section_bg {
	position: absolute;
	top: 0;
	right: 0;
}

section h1 {
	font-size: 4.5em;
	letter-spacing: 0.03em;
	padding: 15px 0;
}

section h2 {
	font-size: 2.5em;
}

section p {
	font-size: 1.7em;
	line-height: 1.9em;
	padding: 10px 0;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about h1 {
	color: #00bda9;
}
.s2_left {
	width: calc(100% - 280px);
	padding-right: 60px;
}
.s2_right {
	max-width: 280px;
}
.s2_bottom {
	margin-top: 100px;
	padding-left: 60px;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
section#features {
	padding-top: 270px;
	padding-bottom: 120px;
}

#features:before {
	content: "";
	background: linear-gradient(45deg, #0040b6, #5592be 90%);
	position: absolute;
	bottom: 0;
	top: 270px;
	left: 0;
	right: 0;
	max-height: 1190px;
}

#features .container {
	min-height: 1190px;
}

.s3_left {
	margin-left: -90px;
	z-index: 9;
	max-width: 946px;
}

.s3_right {
	color: var(--color-base);
	z-index: 9;
}

/*--------------------------------------------------------------
# Features2 Section
--------------------------------------------------------------*/
section#features2 {
	margin-top: -290px;
	padding-bottom: 120px;
}

#features2 .section_bg {
	z-index: 1;
}

.s4_left {
	margin-top: 170px;
	margin-right: -120px;
	z-index: 2;
}

#features2 h2 {
	color: #00bdc6;
}

#features2 h1 {
	color: #0092b3;
}

.s4_right {
	margin-top: 20px;
	max-width: 842px;
}

.s4_bottom {
	position: relative;
	padding: 30px 0;
	z-index: 2;
}

.icon-box {
	padding: 0 43px;
}

.icon-box img {
	max-width: 100px;
}

.icon-box h3 {
	padding: 40px 0 30px;
	margin: 0;
	color: #5f5f5f;
}

.icon-box p {
	font-size: 1.5em;
}

/*--------------------------------------------------------------
# Howtouse Section
--------------------------------------------------------------*/
section#howtouse {
	min-height: 1920px;
}

#howtouse:before {
	content: "";
	background: linear-gradient(115deg, #5592be 1%, #005ca1 15%, #4c19bc 75%, #b7007e);
	position: absolute;
	bottom: 0;
	top: 100px;
	left: 0;
	right: 0;
	max-height: 1920px;
}

#howtouse .section_bg {
	margin-top: 100px;
}

.item_1 {
	position: absolute;
	bottom: 0;
	right: 0;
}

.item_2 {
	position: absolute;
	top: 0;
	right: 25%;
}

.step_pics {
	position: relative;
	margin-top: 180px;
}
.step_pics div {
	max-width: 442px;
}

.img_right {
	margin-right: -120px;
}

.step_pics div:nth-child(2) {
	margin-top: 80px;
}

.step_pics div:nth-child(3) {
	margin-top: 160px;
}

.step_pics div:nth-child(4) {
	margin-top: 240px;
}

.s5_bottom {
	position: relative;
}

.s5_bottom .text {
	color: var(--color-base);
	margin-top: 40px;
	max-width: 820px;
}