:root {
	--color-base: #fff;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
	scroll-behavior: auto !important;
}
body {
	font-family: 'Roboto', 'Noto Sans TC', "Open Sans", sans-serif;
	font-size: 16px;
	color: #808080;
}

a {
	color: var(--color-base);
	text-decoration: none;
}

a:hover {
	color: var(--color-base);
	text-decoration: none;
}

h1 {
	font-weight: bold;
	margin: 0;
}
/* 1200 -> 1399 */
@media (max-width: 1399px) { 
	body {
		font-size: 12px;
	}
}
/* 992 -> 1199 */
@media (max-width: 1199px) {
	body {
		font-size: 10px;
	}
}

/*--------------------------------------------------------------
# Bootstrap Adjust
--------------------------------------------------------------*/
.container {
	padding: 0;
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1680px;
	}
}

@media (max-width: 991px) {
	.container {
		padding: 0 20px;
		max-width: 100%;
	}
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 40px 0;
	min-height: 60px;
}

#header.header-scrolled,
#header.header-inner-pages {
	background: rgba(0, 208, 158, 0.8);
	padding: 20px 0;
}

@media (max-width: 1399px) { 
	#header {
		padding: 20px 0;
	}

	#header.header-scrolled,
	#header.header-inner-pages {
		padding: 10px 0;
	}
}

@media (max-width: 575px) {
	#header {
		min-height: auto;
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0 10px 50px;
	font-size: 2em;
	font-weight: 100;
	color: var(--color-base);
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
	color: #005ca1;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: var(--color-base);
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	color: #4d4d4d;
	font-weight: 400;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
	background-color: #005ca1;
}

.navbar .dropdown:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}

	.navbar .dropdown .dropdown:hover>ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: var(--color-base);
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: unset;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 3em;
	color: var(--color-base);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
	color: #4d4d4d;
	background-color: #00d09e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: var(--color-base);
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
	color: #4d4d4d;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
	background-color: #00d09e;
}

.navbar-mobile .dropdown>.dropdown-active {
	display: block;
}
/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
section#home {
	padding: 60px 0 0;
}

#home:before {
	content: "";
	background: linear-gradient(300deg, #005ca1, #00d09e 60%);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	max-height: 1024px;
}
#home .container {
	position: relative;
	padding-top: 180px;
	text-align: center;
}

.s1_left {
	max-width: 620px;
}

.s1_btn {
	height: 15vh;
}

#home h3 {
	margin: 40px 0;
	font-size: 2.4em;
	font-weight: 100;
	color: var(--color-base);
}

.s1_hello {
	position: absolute;
	top: 19%;
	right: 32%;
}

@media (max-width: 1399px) {
	section#home {
		padding: 30px 0 0;
	}

	#home:before {
		max-height: 700px;
	}
	
	#home .container {
		padding-top: 100px;
	}

	.s1_left {
		max-width: 420px;
	}

	#home h3 {
		margin: 20px 0;
		font-size: 2.2em;
	}

	.s1_right {
		max-width: 500px;
	}

	.s1_hello img {
		width: 80%;
	}
}

@media (max-width: 1199px) {
	#home:before {
		max-height: 600px;
	}

	#home .container {
		padding-top: 80px;
	}

	.s1_left {
		max-width: 380px;
	}

	.s1_right {
		max-width: 420px;
	}

	.s1_hello {
		right: 30%;
	}

	.s1_hello img {
		width: 70%;
	}
}

@media (max-width: 991px) {
	#home:before {
		max-height: 430px;
	}

	#home .container {
		padding-top: 60px;
	}

	.s1_left {
		max-width: 250px;
	}

	.s1_btn {
		height: auto;
	}

	.s1_right {
		max-width: 300px;
	}

	.s1_hello {
		right: 25%;
	}

	.s1_hello img {
		width: 50%;
	}
}
@media (max-width: 575px) {
	#home:before {
		max-height: 495px;
		height: calc( 100% - 80px );
	}

	#home .section_bg {
		top: 80px;
	}
	
	#home .container {
		padding-top: 0;
	}

	.s1_left {
		max-width: 300px;
		width: 60vw;
	}

	#home h3 {
		margin: 10px 0;
		font-size: 1.4em;
	}

	.s1_right {
		max-width: 100%;
		width: 100%;
	}

	.s1_right .img {
		max-width: 270px;
		margin-right: -30px;
	}

	.s1_hello {
		top: 32%;
		left: 34%;
		right: 0;
	}

	.s1_hello img {
		width: 15vw;
		max-width: 80px;
	}

	.s1_btn_m {
		max-width: 120px;
	}

	.s1_btn_m div {
		padding-bottom: 8px;
	}

}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	overflow: hidden;
	position: relative;
}

.section_bg {
	position: absolute;
	top: 0;
	right: 0;
}

section h1 {
	font-size: 4.9em;
	letter-spacing: 0.03em;
	padding: 15px 0;
}

section h2 {
	font-size: 2.5em;
}

section p {
	font-size: 1.8em;
	line-height: 1.7em;
	padding: 10px 0;
}

@media (max-width: 1399px) {
	section h1 {
		font-size: 4.3em;
		padding: 10px 0;
	}

	section h2 {
		font-size: 2.2em;
	}

	section p {
		font-size: 1.6em;
	}
}

@media (max-width: 991px) {
	section h1 {
		font-size: 3.8em;
	}
}

@media (max-width: 575px) {
	section h1 {
		font-size: 3.6em;
		padding: 0;
	}

	section h2 {
		font-size: 1.8em;
	}

	section p {
		font-size: 1.4em;
		line-height: 1.9em;
	}
}

@media (max-width: 320px) {
	section h1 {
		font-size: 3.2em;
	}
	
	section h2 {
		font-size: 1.6em;
	}

	section p {
		font-size: 1.2em;
	}
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about h1 {
	color: #00bda9;
}
.s2_left {
	width: calc(100% - 280px);
	padding-right: 60px;
}
.s2_right {
	max-width: 280px;
}
.s2_bottom {
	margin-top: 100px;
}

@media (max-width: 1399px) {
	.s2_left {
		width: calc(100% - 220px);
	}

	.s2_right {
		max-width: 220px;
	}
}

@media (max-width: 1199px) {
	.s2_left {
		width: calc(100% - 180px);
	}

	.s2_right {
		max-width: 180px;
	}
}

@media (max-width: 991px) {
	.s2_left {
		width: calc(100% - 140px);
		padding-right: 30px;
	}

	.s2_right {
		max-width: 140px;
	}

	.s2_bottom {
		margin-top: 60px;
	}
}

@media (max-width: 575px) {
	.s2_left {
		width: 100%;
		max-width: 240px;
		padding-right: 0;
		text-align: center;
	}

	#about h1 {
		font-size: 2.8em;
	}

	.s2_right {
		max-width: 100%;
		padding: 20px 0;
	}

	.s2_right img {
		max-width: 150px;
	}

	.m_text {
		max-width: 240px;
	}

	.s2_bottom {
		margin-top: 20px;
	}

	.s2_bottom div {
		max-width: 100px;
		padding: 10px 0;
	}
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
section#features {
	padding-top: 270px;
	padding-bottom: 120px;
}

#features:before {
	content: "";
	background: linear-gradient(45deg, #0040b6, #5592be 90%);
	position: absolute;
	bottom: 0;
	top: 270px;
	left: 0;
	right: 0;
	max-height: 1190px;
}

#features .container {
	min-height: 1190px;
}

.s3_left {
	margin-left: -90px;
	z-index: 9;
	max-width: 946px;
}

.s3_right {
	color: var(--color-base);
	z-index: 9;
}

@media (max-width: 1399px) {
	section#features {
		padding-top: 170px;
		padding-bottom: 200px;
	}

	#features:before {
		top: 170px;
		max-height: 750px;
	}

	#features .container {
		min-height: 750px;
	}

	.s3_left {
		margin-left: 0;
		max-width: 600px;
	}
}

@media (max-width: 1199px) {
	section#features {
		padding-bottom: 100px;
	}

	#features:before {
		max-height: 670px;
	}

	#features .container {
		min-height: 670px;
	}

	.s3_left {
		margin-left: -20px;
		max-width: 560px;
	}
}

@media (max-width: 991px) {
	section#features {
		padding-top: 120px;
		padding-bottom: 60px;
	}

	#features:before {
		top: 120px;
		max-height: 460px;
	}

	#features .container {
		min-height: 460px;
	}

	.s3_left {
		margin-left: 0;
		max-width: 380px;
	}
}

@media (max-width: 575px) {
	section#features {
		padding: 0 0 30px;
	}

	#features:before {
		top: 0;
		max-height: 0;
	}

	.s3_bg_m {
		margin-top: 20px;
	}

	#features .container {
		min-height: calc( 100vw - 160px);
	}

	.s3_left {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		padding-top: 6px;
	}

	.s3_right {
		width: 100%;
		margin-left: 0;
		margin-top: 60px;
	}
}

/*--------------------------------------------------------------
# Features2 Section
--------------------------------------------------------------*/
section#features2 {
	margin-top: -290px;
	padding-bottom: 120px;
}

#features2 .item_1 {
	position: absolute;
	top: 0;
	left: 25%;
}

#features2 .item_2 {
	position: absolute;
	top: calc(0px + 290px);
	left: -12%;
}

#features2 .item_3 {
	position: absolute;
	top: calc(28% + 290px);
	left: 53.5%;
	z-index: 1;
}

#features2 .item_4 {
	position: absolute;
	bottom: 2%;
	right: -9.5%;
	z-index: 1;
}

.s4_left {
	margin-top: 170px;
	margin-right: -120px;
	z-index: 2;
}

.s4_left_text {
	padding-left: 120px;
}

#features2 h2 {
	color: #00bdc6;
}

#features2 h1 {
	color: #0092b3;
}

.s4_right {
	margin-top: 20px;
	max-width: 842px;
}

.s4_bottom {
	position: relative;
	padding: 30px 0;
	z-index: 2;
}

.icon-box {
	padding: 0 43px;
}

.icon-box img {
	max-width: 100px;
}

.icon-box h3 {
	padding: 40px 0 30px;
	margin: 0;
	color: #5f5f5f;
}

.icon-box p {
	font-size: 1.5em;
}

@media (max-width: 1399px) {
	section#features2 {
		margin-top: -300px;
		padding-bottom: 40px;
	}

	#features2 div[class^="item_"] img {
		width: 65%;
	}

	#features2 .item_2 {
		top: calc(0px + 300px);
	}
	
	#features2 .item_3 {
		top: calc(17% + 300px);
		left: 55%;
	}

	#features2 .item_4 {
		bottom: 8%;
		right: -40%;
	}

	.s4_left {
		margin-top: 150px;
	}

	.s4_left_text {
		padding-left: 80px;
	}

	.s4_right {
		margin-top: 20px;
		max-width: 550px;
	}

	.icon-box {
		padding: 0 18px;
	}
}

@media (max-width: 1199px) {
	section#features2 {
		margin-top: -220px;
		padding-bottom: 0;
	}

	#features2 div[class^="item_"] img {
		width: 56%;
	}

	#features2 .item_2 {
		top: calc(0px + 220px);
	}
	
	#features2 .item_3 {
		top: calc(17% + 220px);
		left: 53%;
	}

	#features2 .item_4 {
		right: -45%;
	}

	.s4_left_text {
		padding-left: 0;
	}

	.s4_right {
		max-width: 480px;
	}

	.icon-box img {
		max-width: 80px;
	}

	.icon-box h3 {
		font-size: 2em;
		padding: 30px 0 20px;
	}

	.icon-box {
		padding: 0 14px;
	}
}

@media (max-width: 991px) {
	section#features2 {
		margin-top: -120px;
	}

	#features2 div[class^="item_"] img {
		width: 50%;
	}

	#features2 .item_2 {
		top: calc(0px + 120px);
	}
	
	#features2 .item_3 {
		top: calc(17% + 180px);
	}

	#features2 .item_4 {
		right: -75%;
	}

	.s4_left {
		margin-top: 100px;
	}

	.s4_left_text {
		padding-left: 60px;
	}

	.s4_right {
		max-width: 380px;
	}
}

@media (max-width: 575px) {
	section#features2 {
		margin-top: -50px;
	}

	#features2 div[class^="item_"] img {
		width: 100%;
	}

	#features2 .item_1 {
		top: 0;
		left: 50%;
		right: -20%;
	}

	#features2 .item_2 {
		top: 16%;
		left: -30%;
	}

	#features2 div.item_2 img {
		max-width: 330px;
		transform: rotate(30deg);
	}
	
	#features2 .item_3 {
		top: 18%;
		left: 68%;
	}

	#features2 div.item_3 img {
		max-width: 80px;
	}

	#features2 .item_4 {
		right: -45%;
		bottom: 36%;
	}

	#features2 div.item_4 img {
		max-width: 360px;
	}
	
	#features2 .item_5 {
		position: absolute;
		left: -60%;
		bottom: 7%;
	}

	#features2 div.item_5 img {
		max-width: 400px;
		transform: rotate(120deg);
	}

	.s4_left {
		margin-top: 80px;
		margin-right: 0;
	}

	.s4_left_text {
		padding-left: 0;
	}

	.s4_left_text h1 {
		font-size: 3.4em;
	}

	.s4_left_text_p {
		padding: 0 30px;
	}

	.s4_left_text_p p {
		font-size: 1.2em;
	}

	.s4_right {
		width: 100%;
		max-width: 100%;
		margin-top: 6px;
	}
	
	.s4_right img {
		width: 85vw;
		max-width: 320px;
	}

	.icon-box {
		max-width: 180px;
		padding: 20px 0;
	}

	.icon-box h3 {
		font-size: 1.6em;
		padding: 20px 0 10px;
	}

	.icon-box p {
		font-size: 1.2em;
	}
}

@media (max-width: 320px) {
	.s4_left_text h1 {
		font-size: 3em;
	}

	.s4_left_text_p {
		padding: 0 20px;
	}

	.s4_left_text_p p {
		font-size: 1em;
	}
}

/*--------------------------------------------------------------
# Howtouse Section
--------------------------------------------------------------*/
section#howtouse {
	padding: 70px 0;
}

#howtouse .section_bg {
	margin-top: 70px;
}

#howtouse .container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#howtouse .item_1 {
	position: absolute;
	bottom: 0;
	right: 5%;
}

#howtouse .item_2 {
	position: absolute;
	top: 0;
	right: 24%;
}

#howtouse .item_3 {
	position: absolute;
	top: 30%;
	left: 1.5%;
}

.step_pics {
	position: relative;
	margin-top: 170px;
}
.step_pics div {
	max-width: 442px;
}

.img_right {
	margin-right: -120px;
}

.step_pics div:nth-child(2) {
	margin-top: 90px;
}

.step_pics div:nth-child(3) {
	margin-top: calc(90px * 2);
}

.step_pics div:nth-child(4) {
	margin-top: calc(90px * 3);
}

.s5_bottom {
	position: relative;
	padding-bottom: 160px;
	margin-top: -4%;
}

.s5_bottom .text {
	color: var(--color-base);
	margin-top: 40px;
	max-width: 880px;
}
@media (max-width: 1399px) {
	section#howtouse {
		padding: 50px 0;
	}

	#howtouse .section_bg {
		margin-top: 50px;
	}

	#howtouse div[class^="item_"] img {
		width: 65%;
	}

	#howtouse .item_1 {
		width: 25vw;
		right: -7%;
		bottom: 0;
	}
	
	#howtouse .item_2 {
		right: 14%;
	}
	
	#howtouse .item_3 {
		top: 28%;
	}

	.step_pics {
		margin-top: 120px;
	}

	.step_pics div {
		max-width: 300px;
	}

	.step_pics div:nth-child(2) {
		margin-top: 70px;
	}
	
	.step_pics div:nth-child(3) {
		margin-top: calc(70px * 2);
	}
	
	.step_pics div:nth-child(4) {
		margin-top: calc(70px * 3);
	}

	.s5_bottom {
		padding-bottom: 50px;
	}

	.s5_bottom img {
		max-width: 350px;
	}
	
	.s5_bottom .text {
		max-width: 600px;
	}
}

@media (max-width: 1199px) {
	section#howtouse {
		padding: 40px 0;
	}

	#howtouse .section_bg {
		margin-top: 40px;
	}

	#howtouse div[class^="item_"] img {
		width: 55%;
	}

	.step_pics {
		margin-top: 80px;
	}

	.step_pics div {
		max-width: 250px;
	}

	.step_pics div:nth-child(2) {
		margin-top: 60px;
	}
	
	.step_pics div:nth-child(3) {
		margin-top: calc(60px * 2);
	}
	
	.step_pics div:nth-child(4) {
		margin-top: calc(60px * 3);
	}

	.s5_bottom img {
		max-width: 300px;
	}
}

@media (max-width: 991px) {
	#howtouse div[class^="item_"] img {
		width: 45%;
	}

	#howtouse .item_2 {
		right: -6%;
	}

	.step_pics div {
		max-width: 200px;
	}

	.step_pics div:nth-child(2) {
		margin-top: 30px;
	}
	
	.step_pics div:nth-child(3) {
		margin-top: calc(30px * 2);
	}
	
	.step_pics div:nth-child(4) {
		margin-top: calc(30px * 3);
	}

	.s5_bottom {
		margin-top: 10px;
	}
}

@media (max-width: 575px) {
	section#howtouse {
		padding: 0 0 20px;
	}

	#howtouse .section_bg {
		margin-top: 0;
	}

	.s5_bg_item_2 {
		position: absolute;
		bottom: 4%;
	}

	#howtouse .container {
		top: 40px;
	}

	#howtouse div[class^="item_"] img {
		width: 100%;
	}

	#howtouse .item_1 {
		max-width: 80px;
		right: 70%;
		bottom: 0;
	}
	
	#howtouse .item_3 {
		max-width: 150px;
		top: 8%;
		left: -17%;
	}

	.img_right {
		margin-right: -200px;
	}

	#howtouse .step_pics_m {
		max-width: 280px;
	}

	#howtouse .step_pics_m img {
		width: 45vw;
		max-width: 170px;
	}

	#howtouse .step_pics_m div:nth-child(1) {
		margin-top: 70px;
	}

	.s5_title {
		max-width: 250px;
		margin-top: -10px;
	}

	#howtouse .text {
		color: var(--color-base);
	}
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.s6_icon {
	padding: 60px 0 80px;
}

.testimonials-slider, .testimonials-slider p {
	color: #666;
	line-height: 2em;
}

.testimonials-slider h4 {
	font-size: 1.8em;
}

.testimonial-item {
	max-width: 1100px;
}

.testimonials-slider .swiper-button-next, .testimonials-slider .swiper-button-prev {
	opacity: 0.5;
	height: 80px;
	width: 80px;
}

.testimonials-slider .swiper-button-prev {
	transform: rotate(180deg);
}

.testimonials-slider .swiper-button-prev::after{
	content: '';
}
.testimonials-slider .swiper-button-next::after{
	content: '';
}

.testimonials-slider .star {
	padding: 10px 0;
	margin-bottom: 20px;
}

.testimonials-slider .star i {
	padding: 0 5px;
	font-size: 1.2em;
	color: #0070c1;
}

.clients-slider {
	padding: 80px 0;
}

.clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients-slider .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

@media (max-width: 1399px) {
	.s6_icon {
		padding: 40px 0 60px;
		max-width: 70px;
	}

	.testimonial-item {
		max-width: 750px;
	}
}

@media (max-width: 1199px) {
	.s6_icon {
		padding: 20px 0 40px;
		max-width: 50px;
	}

	.testimonials-slider .swiper-button-next, .testimonials-slider .swiper-button-prev {
		height: 50px;
		width: 50px;
	}
}

@media (max-width: 991px) {
	.s6_icon {
		padding: 0 0 40px;
	}

	.testimonial-item {
		max-width: 540px;
	}
}

@media (max-width: 575px) {
	#testimonials .container {
		padding: 0 10px;
	}
	.s6_icon {
		padding: 40px 0 40px;
		max-width: 40px;
	}

	.testimonial-item {
		max-width: 300px;
	}

	.testimonials-slider .swiper-button-next, .testimonials-slider .swiper-button-prev {
		height: 40px;
		width: 40px;
	}

	.testimonials-slider .swiper-button-next {
		right: 0;
	}
	
	.testimonials-slider .swiper-button-prev {
		left: 0;
	}

	.clients-slider {
		padding: 20px 0 40px;
	}
}

@media (max-width: 320px) {
	.testimonial-item {
		max-width: 200px;
	}

	.clients-slider {
		padding: 20px 0;
	}
}

/*--------------------------------------------------------------
# Download Section
--------------------------------------------------------------*/
section#download {
	background: url("../img/s7_bg.jpg") no-repeat top center;
	background-size: cover;
	padding: 100px 0;
}

#qrcode {
	background: var(--color-base);
	padding: 10px;
	max-width: 240px;
	margin: 30px 0;
}

#download h2 {
	color: var(--color-base);
	line-height: 1.3em;
	margin-bottom: 30px;
}

@media (max-width: 1399px) {
	section#download {
		padding: 50px 0;
	}
}

@media (max-width: 575px) {
	section#download {
		background: url("../img/ps7_bg.jpg") no-repeat top center;
		background-size: cover;
	}

	section#download .container {
		padding: 0 60px;
	}

	.download_logo {
		max-width: 200px;
	}

	#qrcode {
		max-width: 130px;
	}

	#download h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	.download_social {
		max-width: 170px;
		padding-top: 80px;
	}

	.download_social .social span {
		width: 35px;
		height: 35px;
		display: block;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: 170px;
	}

	.download_social .social #line {
		background-image: url("../img/footer_icon_social.png");
		background-position: left 0;
	}
	
	.download_social .social #facebook {
		background-image: url("../img/footer_icon_social.png");
		background-position: 33.5%;
	}
	
	.download_social .social #twitter {
		background-image: url("../img/footer_icon_social.png");
		background-position: 66.7%;
	}
	
	.download_social .social #instagram {
		background-image: url("../img/footer_icon_social.png");
		background-position: right 0;
	}
}

@media (max-width: 320px) {
	section#download .container {
		padding: 0 10px;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	padding: 20px 0;
}

.footer_logo {
	max-width: 340px;
}

.footer_logo p {
	margin: 10px 0;
}

.footer_logo .copyright {
	width: 100%;
}

.footer_right {
	min-width: 450px;
}

.footer_right .social span {
	width: 80px;
	height: 80px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}

.footer_right .social #line {
	background-image: url("../img/footer_icon_social.png");
	background-position: left 0;
}

.footer_right .social #facebook {
	background-image: url("../img/footer_icon_social.png");
	background-position: 33.5%;
}

.footer_right .social #twitter {
	background-image: url("../img/footer_icon_social.png");
	background-position: 66.7%;
}

.footer_right .social #instagram {
	background-image: url("../img/footer_icon_social.png");
	background-position: right 0;
}

@media (max-width: 1399px) {
	.footer_logo {
		max-width: 200px;
	}

	.footer_right {
		min-width: 260px;
	}

	.footer_right .social span {
		width: 50px;
		height: 50px;
		background-size: 270px;
	}
}

@media (max-width: 575px) {
	.footer_logo {
		width: 100%;
		max-width: 100%;
	}

	.footer_logo .img {
		max-width: 250px;
	}
}